/*==================== Basic styles ====================*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn {
  display: inline-block;
  padding: 10px 26px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background-color: #f26843;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;

  appearance: none;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 1px 2px 0 #ac1000;
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/*==================== Header styles ====================*/
.site-nav {
  display: flex;
  align-items: center;
  padding-top: 7px;
}

.site-logo {
  display: block;
  width: 154px;
  height: 64px;
  margin-top: 2px;
  margin-right: 10px;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.site-menu-item {
  position: relative;
  margin-right: 2px;
}

.site-menu-item > a {
  display: block;
  padding: 7px 13px;

  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  border-radius: 20px;

  transition: 0.3s ease;
}

.site-menu-item > a:hover,
.site-menu-item > a:focus {
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
}

.site-menu-item > a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.site-submenu {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-submenu-item > a {
  display: block;
  padding: 8px 21px;

  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.site-submenu-item:first-child > a {
  border-radius: 5px 5px 0 0;
}

.site-submenu-item:last-child > a {
  border-radius: 0 0 5px 5px;
}

.site-submenu-highlight > a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.site-submenu-highlight::after {
  content: "";

  display: block;
  height: 1px;
  margin-right: 9px;
  margin-left: 6px;

  background-color: rgba(50, 50, 50, 0.2);
}

.site-submenu-item:not(.site-submenu-current) > a:hover,
.site-submenu-item:not(.site-submenu-current) > a:focus {
  background-color: #fbded7;
}

.site-submenu-item:not(.site-submenu-current) > a:active {
 background-color: #f6b5a5;
}

.site-submenu-highlight a {
  font-weight: 700;
}

.site-menu-current > a,
.site-submenu-current > a {
 color: #ffffff;
 text-decoration: none;

 background-color: #d07058;
}

.site-header-btns {
  display: flex;
  margin-left: auto;
}

.site-header-btns li {
  position: relative;
}

.site-header-btn {
  position: relative;

  display: block;
  margin-left: 10px;
  padding: 8px 17px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  transition: 0.3s ease;
}

.site-header-btn.search-btn {
  padding: 16px;
}

.site-header-btn.login-btn,
.site-header-btn.cart-btn {
  padding-left: 44px;
}

.site-header-icon {
  position: absolute;
  top: 6px;
  left: 16px;
}
.site-header-icon.search-icon {
  top: 7px;
  left: 7px;
}

.site-header-btn:hover,
.site-header-btn:focus,
.cart-btn-full {
  color: #323232;
  
  background-color: #ffffff;
}

.site-header-btn svg {
  fill: #ffffff;

  transition: 0.3s ease;
}

.site-header-btn:hover svg,
.site-header-btn:focus svg,
.cart-btn-full svg {
  fill: #323232;
}

.site-header-icon .orange {
  fill: transparent;

  transition: 0.3s ease;
}

.site-header-btn:hover .orange,
.site-header-btn:focus .orange,
.cart-btn-full .orange {
  fill: #e84d37;
}

.site-search-form {
  width: 341px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-login-form {
  width: 277px;
  padding: 20px 18px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-login-form label {
  display: block;
  margin-bottom: 20px;
}

.site-search-form input,
.site-login-form input {
  display: block;
  width: 100%;
  padding: 13px 15px;

  font-weight: 700;
  font-size: 14px;

  border: solid 1px #ffffff;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 4px;
  outline: none;
}

.site-search-form input:hover,
.site-login-form input:hover {
  border: solid 1px #c8c7c6;
  box-shadow: 0 0 0 1px #c8c7c6;
}

.site-search-form input:focus,
.site-login-form input:focus {
  border: solid 1px #90beed;
  box-shadow: 0 0 0 1px #90beed;
}

.site-search-form input::placeholder,
.site-login-form input::placeholder {
  font-weight: 400;
  color: #999999;
}

.login-form-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.login-form-btn-wrapper p {
  margin: 0;
}

.login-form-btn-wrapper a {
  display: block;

  font-size: 13px;
  line-height: 20px;
  color: #323232;
}

.login-form-btn-wrapper a:hover,
.login-form-btn-wrapper a:focus {
  color: #e84d37;
}

.cart-wrapper {
  width: 539px;
  padding: 20px 15px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart-table {
  width: 100%;
  margin-bottom: 11px;

  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;

  border-bottom: 1px solid #cacac7;
}

.cart-table tr {
  vertical-align: top;
}

.cart-table td {
  padding-bottom: 18px;
}

.cart-table-close {
  width: 25px;
}

.cart-table-close button {
  position: relative;
  top: 6px;
  left: -4px;

  display: block;
  width: 16px;
  height: 16px;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px;
  border: none;
  cursor: pointer;
}

.cart-table-img {
  width: 45px;
}

.cart-table-img img {
  display: block;
  width: 33px;
  height: 33px;
}

.cart-table-title {
  width: 230px;
  padding-top: 9px;
}

.cart-table-quantity {
  padding-top: 9px;

  text-align: right;
}

.cart-table-quantity span {
  color: #999999;
}

.cart-table-total {
  width: 95px;
  padding-top: 9px;
  padding-right: 18px;

  text-align: right;
}

.cart-wrapper p {
  margin: 0;
  text-align: right;
}

p.cart-total {
  font-size: 15px;
  margin-bottom: 12px;
}

.cart-wrapper .btn {
  padding: 10px 14px;
}

.hover-trigger {
  position: relative;
}

.hover-wrapper {
  position: absolute;
  top: 36px;
  z-index: 10;

  display: none;
}

.hover-wrapper::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;

  width: 100%;
  height: 4px;
}

.hover-wrapper.site-submenu {
  left: -7px;
}

.hover-wrapper.site-search-form,
.hover-wrapper.site-login-form,
.hover-wrapper.cart-wrapper {
  right: 0;
}

.hover-trigger:hover .hover-wrapper,
.hover-wrapper:hover {
  display: block;
}

.hover-trigger:focus-within .hover-wrapper {
  display: block;
}

.site-header-info {
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.site-header-info span {
  display: block;
}

.site-header-info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.site-header-info a:hover,
.site-header-info a:focus {
  color: #ffbc9e;
  text-decoration: underline;
}

/*==================== Main styles ====================*/
.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slider-bg-1.png");
  background-repeat: no-repeat;
  background-position: center top;

  transition: 
    background-color 0.5s ease,
    background-image 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-bg-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-bg-3.png");
}

.popular {
  position: relative;

  margin-bottom: 40px;
  padding-top: 274px;

  text-align: center;
}

.popular-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
}

.popular-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 5px;

  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.popular-controls label:hover,
.popular-controls label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.popular-item {
  display: none;
}

.popular-item h3 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.popular-item .btn {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.toggle1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-bg-1.png");
}

.toggle2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-bg-2.png");
}

.toggle3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-bg-3.png");
}

.toggle1:checked ~ .site-wrapper .slide1,
.toggle2:checked ~ .site-wrapper .slide2,
.toggle3:checked ~ .site-wrapper .slide3 {
  display: block;
}

.toggle1:checked ~ .site-wrapper label[for="product-1"],
.toggle2:checked ~ .site-wrapper label[for="product-2"],
.toggle3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promo-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-card {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-bottom: 40px;
  padding: 18px 19px 25px;

  border-radius: 16px;

  background-repeat: no-repeat;
  background-position: center;
}

.promo-card-raspberry {
  background-color: #5b0f1e;
  background-image: url("../img/bg-raspberry.jpg");
}

.promo-card-chocolate {
  background-color: #442a20;
  background-image: url("../img/bg-chocolate.jpg");
}

.promo-card h3 {
  margin: 0;
  margin-bottom: 15px;
  
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo-card p {
  margin: 0;
  margin-bottom: 43px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promo-card .btn {
  align-self: flex-end;
  margin-top: auto;
  padding: 10px 23px;
}

.best {
  margin-bottom: -17px;
}

.best-list {
  display: flex;
  flex-wrap: wrap;
}

.best-list li {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.best-list li:nth-child(4n) {
  margin-right: 0;
}

.benefits {
  margin-bottom: 40px;
  padding: 25px 20px 15px;

  color: #323232;

  background-color: #ecdfc3;
  background-image: url("../img/bg-waffle.jpg");
  background-position: 0 0;
  border-radius: 16px;
}

.benefits h2 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits-list li {
  width: 541px;
  padding-top: 14px;
  padding-left: 56px;
  margin-bottom: 8px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 49px;
}

.benefits-list li:nth-child(1) {
  background-image: url("../img/icon-ice-cream.svg");
}

.benefits-list li:nth-child(2) {
  background-image: url("../img/icon-cow.svg");
}

.benefits-list li:nth-child(3) {
  background-image: url("../img/icon-leaf.svg");
}

.benefits-list li:nth-child(4) {
  background-image: url("../img/icon-thermometer.svg");
}

.benefits-item p {
  margin: 0;
}

.index-blog-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-card {
  width: 560px;
  min-height: 220px;
  margin-bottom: 40px;

  border-radius: 16px;
}

.blog-post-card {
  padding: 23px 19px;

  color: #323232;

  background-color: #f1d6cb;
  background-image: url("../img/bg-strawberry.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-post-card a {
  color: inherit;
}

.blog-post-card a:hover,
.blog-post-card a:focus {
  color: #e84d37;
}

.blog-post-card h3 {
  width: 285px;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.blog-post-card p {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 500;
}

.blog-subscribe-card {
  padding: 5px 6px;

  background-image: url("../img/bg-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-subscribe-form {
  height: 100%;
  padding: 29px 21px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.blog-subscribe-form p {
  margin: 0;
  margin-bottom: 37px;
}

.blog-subscribe-group {
  display: flex;
}

.blog-subscribe-group label {
  flex-grow: 1;
  margin-right: 14px;
}

.blog-subscribe-group input {
  display: block;
  width: 100%;
  padding: 12px 14px;
  font-weight: 700;
  font-size: 16px;
  border: solid 1px #ffffff;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 4px;
  outline: none;
}

.blog-subscribe-group input:hover {
  border: solid 1px #c8c7c6;
  box-shadow: 0 0 0 1px #c8c7c6;
}

.blog-subscribe-group input:focus {
  border: solid 1px #90beed;
  box-shadow: 0 0 0 1px #90beed;
}

.blog-subscribe-group input::placeholder {
  font-weight: 400;
  color: #999999;
}

.blog-subscribe-form .btn {
  padding: 10px 17px;
}

.map {
  position: relative;

  min-height: 430px;

  background-color: #eaeaea;
}

.map-container {
  position: relative;
  z-index: 1;

  width: 1200px;
  margin: 0 auto;
}

.map-img {
  margin: 0;
}

.map-img img {
  display: block;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: block;
  width: 100%;

  border: none;
}

.map-container.card {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;

  transform: translateX(-50%);
}

.map-card {
  position: absolute;
  top: 63px;
  right: 27px;

  width: 302px;
  padding: 28px 25px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 10px;
}

.map-contacts {
  margin-bottom: 27px;

  font-style: normal;
}

.map-contacts p {
  margin: 0;
  margin-bottom: 18px;

  font-size: 14px;
  line-height: 21px;
}

.map-contacts b {
  display: block;

  font-size: 18px;
  line-height: 24px;
}

.map-contacts a {
  color: inherit;
  text-decoration: none;
}

.map-contacts a:hover,
.map-contacts a:focus {
  color: #e84d37;
  text-decoration: underline;
}

/*==================== Inner page styles ====================*/
.breadcrumbs {
  display: flex;
  margin-top: -18px;
  margin-bottom: 4px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  margin: 0 7px;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: none;
}

.page-title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.catalog {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.filter {
  margin-bottom: 24px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
}

.filter-group {
  margin: 0;
  margin-right: 14px;
  margin-bottom: 16px;
  padding: 0;

  border: none;
}

.filter-group legend {
  margin-bottom: 6px;
  padding-left: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-group select {
  width: 194px;
  padding: 9px 16px;

  color: #ffffff;

  background-color: #a9b9af;
  background-image: url("../img/icon-select.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 13px;
  background-size: 11px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-group select::-ms-expand { 
  display: none;
}

.filter-group select:focus {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/icon-select-dark.svg");
}

.price-controls {
  margin-bottom: 4px;

  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.price-legend {
  padding-left: 16px;
}

.price-controls input {
  width: 53px;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;

  width: 220px;
  padding: 16px 22px;

  background-color: #a9b9af;
  border-radius: 20px;
}

.range-controls .scale {
  height: 4px;

  background-color: #d1dad3;
}

.range-controls .bar {
  margin-left: 14%;
  width: 55%;
  height: 4px;

  background-color: #f8f7f4;
}

.range-toggle {
  position: absolute;
  top: 8px;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px #cccccc;
  cursor: pointer;

  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 16%;
}

.range-toggle-max {
  left: 60%;
}

.filter-list {
  display: flex;
  padding: 9px 16px;

  color: #ffffff;

  background-color: #a9b9af;
  border-radius: 20px;
}

.filter-list li:not(:last-child) {
  margin-right: 18px;
}

.filter-list-checkbox li:not(:last-child) {
  margin-right: 23px;
}

.filter-label {
  position: relative;
  display: block;
  padding-left: 31px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  cursor: pointer;

  user-select: none;
}

.filter-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  opacity: 0.8;

  transition: opacity 0.3s ease;
}

.filter-label:hover::before {
  opacity: 1;
}

.filter-input:disabled + .filter-label,
.filter-input:disabled + .filter-label::before {
  opacity: 0.4;
  cursor: default;
}

.filter-input:focus + .filter-label::before {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
}

.filter-radio + .filter-label::before {
  width: 22px;
  height: 22px;

  background-image: url("../img/radio-off.svg");
}

.filter-radio:checked + .filter-label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox + .filter-label::before {
  top: -1px;

  width: 20px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:checked + .filter-label::before {
  width: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-form-btn {
  align-self: start;
  margin-top: 22px;
  padding: 7px 27px;
  height: 36px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.filter-form-btn:hover,
.filter-form-btn:focus {
  color: #323232;

  background-color: #ffffff;
  outline: none;
}

.filter-form-btn:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.catalog-list li {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 23px;
}

.catalog-list li:nth-child(4n) {
  margin-right: 0;
}

.product-card {
  position: relative;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.product-card::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -60px;
  left: -13px;
  z-index: 1;

  display: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 0.2;
}

.product-card-title {
  position: relative;

  margin-bottom: 17px;

  color: #ffffff;
}

.product-card-title:hover,
.product-card-title:focus {
  color: #ffbc9e;
}

.product-card-title h3 {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.product-card-img {
  position: relative;

  order: -1;
  width: 267px;
  height: 267px;

  margin: 0;
  margin-bottom: 15px;
}

.product-card-img img {
  display: block;
}

.product-card.hit .product-card-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */

  width: 61px;
  height: 61px;
  background-image: url("../img/label-hit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-price {
  position: absolute;
  top: 209px;
  left: -1px;

  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-card-price b {
  font-size: 45px;
}

.product-card .btn {
  position: absolute;
  bottom: -38px;
  left: 50%;

  display: none;
  padding: 10px 17px;

  white-space: nowrap;

  transform: translateX(-50%);
}

.product-card:hover::before,
.product-card:hover .btn {
  display: block;
}

.product-card:hover * {
  z-index: 2;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination-list {
  display: flex;
  align-items: start;
  margin-right: -9px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  height: 26px;
  padding: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;

  border-radius: 20px;

  user-select: none;
}

.pagination-arrow a {
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 12px;
}

.pagination-prev {
  margin-right: 8px;
  transform: rotate(180deg);
}

.pagination-next {
  margin-left: 8px;
}

.pagination-arrow a:not([href]) {
  opacity: 0.2;
}

.pagination-pages {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.pagination-pages li {
  margin: 0 1px;
}

.pagination-pages a[href]:hover,
.pagination-pages a[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-current a {
  color: #000000;

  background-color: #ffffff;
}

/*==================== Footer styles ====================*/
.site-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 26px;
}

.site-footer a:hover,
.site-footer a:focus {
  color: #ffbc9e;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: -15px;
}

.footer-social,
.html-academy {
  width: 200px;
}

.footer-social li {
  margin-right: 18px;
  margin-bottom: 15px;
}

.footer-social a {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  border-radius: 50%;
  opacity: 0.8;
  transition: 0.3s ease;
}

.footer-social a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;

  display: block;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff;
  opacity: 0.5;
  transition: 0.3s ease;
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 1;
}

.footer-social a:active,
.footer-social a:hover::before,
.footer-social a:focus::before {
  opacity: 0.7;
}

.footer-social .twitter {
  background-image: url(../img/icon-twitter.svg);
}

.footer-social .instagram {
  background-image: url(../img/icon-instagram.svg);
}

.footer-social .facebook {
  background-image: url(../img/icon-facebook.svg);
}

.footer-social .vk {
  background-image: url(../img/icon-vk.svg);
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  width: 345px;
  margin-top: 14px;
}

.footer-menu li {
  min-width: 142px;
  padding-left: 22px;

  font-size: 13px;
  line-height: 18px;
}

.footer-menu-highlight {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: 15px 13px;
}

.footer-menu-highlight a {
  font-weight: 700;
}

.html-academy {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  text-align: right;
}

.html-academy-icon {
  display: block;
  width: 114px;
  height: 39px;
  margin-left: 11px;
  margin-bottom: 2px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

/*==================== Modals styles ====================*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-show {
  display: block;
}

.modal-bounce {
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-login {
  width: 478px;
  margin-top: -223px;
  margin-left: -238px;
  padding: 16px 25px 27px;
}

.modal-title {
  margin: 0;
  margin-bottom: 19px;

  font-size: 24px;
  line-height: 28px;
}

.modal-form-group {
  margin: 0;
  margin-bottom: 20px;
}

.modal-form-group input,
.modal-form-group textarea {
  display: block;
  width: 100%;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 16px;
  border: solid 1px #ffffff;
  box-shadow: 0 0 0 1px #d3d3d2;
  border-radius: 4px;
  outline: none;
}

.modal-form-group input:hover,
.modal-form-group textarea:hover {
  border: solid 1px #c8c7c6;
  box-shadow: 0 0 0 1px #c8c7c6;
}

.modal-form-group input:focus,
.modal-form-group textarea:focus {
  border: solid 1px #90beed;
  box-shadow: 0 0 0 1px #90beed;
}

.modal-form-group input::placeholder,
.modal-form-group textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-form-group input {
  width: 267px;
}

.modal-textarea-group {
  margin-bottom: 25px;
}

.modal-textarea-group textarea {
  min-width: 428px;
  max-width: 428px;
  min-height: 155px;
}

.modal-form-btn {
  margin: 0;

  text-align: right;
}

.modal-form-btn .btn {
  padding: 10px 23px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 12px;

  width: 26px;
  height: 26px;

  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border: none;
  cursor: pointer;
}
